<main>
<h1>Editing Book</h1>

<% if @book && @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:<br>
    <% @book.errors.full_messages.each do |message| %>
      <%= message %>
  <% end %>
<% end %>

<%= form_with model: @book do |b| %>
  <h4>Title</h4>
  <%= b.text_field :title, class: "book_title"%>
  <h4>Body</h4>
  <%= b.text_area :body, class: "book_body" %>
  <p><%= b.submit 'Update Book'%></p>

  <!-- create edit_link -->
  <%= link_to "Show", book_path(@book), class: "show_#{@book.id}" %>
  <!-- create "|" -->
  |
  <!-- create index_link -->
  <%= link_to "Back", books_path, class: "back" %>
<% end %>
</main>